.section {
  padding: 5rem 0;
}

.sectionNoTop {
  padding: 0 0 5rem;
}

@media (min-width: 640px) {
  .section {
    padding: 7rem 0;
  }
  .sectionNoTop {
    padding: 0 0 7rem;
  }
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .container {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
